# Flutter build & caches
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# Android / Gradle artifacts
**/.gradle/
**/local.properties
**/GeneratedPluginRegistrant.java
**/*.apk
**/*.aab

# Java / Spring Boot
**/target/
**/build/
**/*.class
**/*.jar
**/*.war

# Python / AI Model
**/__pycache__/
**/*.pyc
**/.venv/
**/env/

# IDE files
**/.idea/
**/.vscode/
**/*.iml

*.hprof
